@import '@teelmo/web-styles';
@import '@teelmo/web-styles/arrow.css';
@import '@teelmo/web-styles/fonts/anton.css';
@import '@teelmo/web-styles/fonts/roboto.css';
@import '@teelmo/web-styles/fonts/roboto-condensed.css';
@import '@teelmo/web-styles/fonts/josefin-sans.css';

#app-root .app {
  margin: auto;

  > .content_container {
    background-color: #fff;
    box-sizing: border-box;
    color: #222;
    padding: 80px 20px;
    position: relative;

    &.flex {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .image_container {
        margin-top: -100px;
      }
    }

    &.full {
      border-bottom: 20px solid #222;
      border-top: 20px solid #222;
      min-height: 100vh;
    }

    &.dark {
      background-color: #222;
      color: #fff;

      &.visible {
        background-color: #eee;
      }
    }

    > .curtain_container {
      background-color: #222;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;

      &.visible {
        height: 0;
        transition-delay: 0.5s;
        transition-duration: 1s;
        transition-property: height;
      }
    }

    > .visualisation_container {
      margin: auto;
      max-width: 1280px;
      opacity: 0;

      &.visible {
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 2s;
        transition-property: opacity;
      }
    }

    > .image_container {
      padding-top: 20px;

      img {
        display: block;
        margin: auto auto 20px auto;
        max-width: 400px;
        width: 100%;
      }
    }

    > .content {
      text-align: center;

      > h2 {
        background-color: #222;
        color: #fff;
        display: inline-block;
        font-family: Anton;
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 50px;
        margin-bottom: 20px;
        padding: 8px 15px;
        text-align: center;
        text-transform: uppercase;
      }

      > h3 {
        font-family: Roboto Condensed;
        font-size: 40px;
        line-height: 50px;
        text-align: center;

        .desc {
          background-color: #fff;
          color: #000;
          display: inline-block;
          line-height: 60px;
          margin: 10px 0;
          opacity: 0;
          padding: 5px 8px;
          transition-delay: 1.5s;
          transition-duration: 1s;
          transition-property: opacity;

          &.visible {
            opacity: 1;
          }
        }
      }

      > h4 {
        border-bottom: 2px solid #bbb;
        font-family: Roboto Condensed;
        font-size: 36px;
        line-height: 40px;
        margin: auto auto 20px auto;
        max-width: 400px;
        padding-bottom: 10px;
        text-align: center;
      }

      > p {
        font-family: Roboto Condensed;
        font-size: 24px;
        line-height: 28px;
        margin: auto auto 20px auto;
        max-width: 560px;
        text-align: center;

        strong {
          font-weight: 700;
        }

        a {
          border-bottom: 3px solid #222;
          color: #222;
          text-decoration: none;

          &:hover {
            border-bottom: 0;
            color: #666;
          }
        }
      }

      > ul {
        color: #222;
        display: block;
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 20px 0;
        text-align: center;

        li {
          margin-bottom: 3px;

          h4 {
            font-family: Roboto Condensed;
            font-size: 30px;
            line-height: 36px;
            margin: 40px auto auto auto;
            max-width: 400px;
            text-align: center;
          }

          a {
            border-bottom: 3px solid #222;
            color: #222;
            font-weight: 400;
            text-decoration: none;

            &:hover {
              border-bottom: 0;
              color: #666;
            }
          }

          .label {
            display: inline-block;
            font-family: Roboto Condensed;
            font-weight: 700;
            max-width: 280px;
            text-align: right;
          }

          .value {
            display: inline-block;
            font-family: Roboto Condensed;
            font-weight: 400;
            max-width: 200px;
            text-align: left;
          }
        }
      }
    }
  }
}
